@*﻿@{
    Layout = "/views/shared/_masterLayout.cshtml";
}*@



@*<link type="text/css" rel="stylesheet" href="~/Contents/css/Signup.css" />*@



@*@section Styles{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/intialMenu.css" />
    @RenderSection("initalCSS", false)
}


<div class="container1">

    <nav class="navi">
        <ul>
            <li><a href="~/AboutUs/AboutUs">ለበለጠ መረጃ</a></li>
            <li><a href="~/Announcement/index">ማስታወቂያ</a></li>
            <li><a href="~/login/signup">ይመዝገቡ</a></li>
            <li><a href="~/login/index">ዋና-ገጸ</a></li>
        </ul>
    </nav>
</div>
<div>
    @RenderSection("BodyPart", false)

</div>*@



