
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/LandingPage.cshtml";
}

@section BodyPart{
    <div class="home-wrapper">
        <div class="container">
            <div class="row">

                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <div class="col-md-6">
                            <form id="form1" class="form-horizontal">
                                <section class="panel">

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label"> <i class="fa fa-key"></i> Password: </label>
                                            <div class="col-sm-8">
                                                <input type="text" name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-sm-4 control-label"> <i class="fa fa-envelope"></i> Email: </label>
                                            <div class="col-sm-8">
                                                <input type="email" name="email" class="form-control" >
                                                @*Correct Me!!*@
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <button class="btn btn-primary">Submit </button>
                                        <button class="btn btn-default">Forgot Password</button>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /home content -->

                @*@Html.ValidationSummary()*@
            </div>
        </div>
    </div>
    <!-- /home wrapper -->

}
