
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  BodyPart{

<div class="loginform">
    <form action="~/login/index" method="post">



        ወደ አካውንቶ ለመግባት<hr />
        <br />
        <label>Username</label>
        <input id="Username" name="Username" type="text" />
        <br />
        <br />
        <label> password:  </label>
        <input id="Password" name="Password" type="password" />
        <br />
        <input id="log" value="Login" type="submit" />
        <br />
        <div>
            @Html.ValidationSummary()
        </div>

    </form>
</div>
    }